/* Landing */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  line-height: 1.5em;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  scroll-behavior: smooth;
}
.landing-background {
  background: linear-gradient(
    180deg,
    #0e0d0d 0%,
    #010a1b 23.47%,
    #11151c 81.73%,
    #0e0d0d 100%
  );
}
.banner-shadow {
  box-shadow: -2px -2px 15px rgba(86, 86, 86, 0.25),
    2px 2px 15px rgba(86, 86, 86, 0.25);
}
/* Gradient Buttons */
.gradient-button::before,
.dashboard-gradient-button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  transition: all 550ms linear;
}

.gradient-button:hover::before,
.dashboard-gradient-button:hover::before {
  left: 100%;
}
.gradient-button {
  @apply tw-px-6 tw-py-4 tw-w-full tw-rounded-md tw-bg-gradient-to-r tw-from-[#000000] tw-via-[#34107B] tw-to-[#1B0051] tw-font-medium tw-relative tw-overflow-hidden lg:tw-py-2;
}

/*FAQ Card*/
.faq-card {
  box-shadow: -0px -2px 16px 8px rgba(86, 86, 86, 0.25),
    4px 4px 15px rgba(86, 86, 86, 0.25);
}

/*Signup Form*/
.signup-input input::placeholder {
  @apply !tw-text-wapal-gray;
}

.signup-input .v-label {
  @apply !tw-text-wapal-gray;
}

.signup-input input {
  @apply !tw-text-wapal-gray;
}

.signup-input .v-messages__message {
  @apply !tw-text-base;
}

.discord-icon,
.nft-discord-icon {
  fill: #fff;
  @apply !tw-text-4xl tw-transition tw-duration-200 tw-ease-linear;
}

.discord-icon:hover {
  fill: #1e40af;
}

.signup-input .mdi-close::before {
  top: -18px;
  position: absolute;
}

.signup-input .v-input__slot {
  min-height: 44px !important;
}
.signup-input .v-label {
  top: 13px !important;
}

/*Image Grid Landing page*/

.display-images {
  pointer-events: none;
}

.third-display-image,
.second-display-image,
.first-display-image {
  pointer-events: auto;
}

.display-images:hover .second-display-image,
.display-images:hover .third-display-image {
  @apply tw-w-[90%];
}

/*Footer*/
.footer-shadow {
  box-shadow: 0px 0px 10px 0px rgba(194, 2, 211, 1);
}
.footer-gradient-border {
  padding-top: 1px;
  background: linear-gradient(
    90deg,
    rgba(254, 135, 255, 0.2),
    rgba(253, 43, 255, 0.2),
    rgba(62, 45, 221, 0.2),
    rgba(253, 43, 255, 0.2),
    rgba(254, 135, 255, 0.2)
  );
}

.footer-icon-container {
  padding: 1.5px;
  width: 36px;
  height: 36px;
}
.footer-icon-border {
  background: linear-gradient(90deg, #fe87ff, #c202d3, #5e0fff, #1905da);
  @apply tw-transition-all tw-duration-200 tw-ease-linear tw-rounded-full;
}
.footer-icon-container:hover .footer-icon-border {
  transform: rotate(180deg);
}
/*NFT Card*/
.nft-card {
  background: linear-gradient(
    180deg,
    rgba(221, 221, 221, 0.4) -72.58%,
    #050d1c 74.28%
  );
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top-right-radius: 9999px;
  box-shadow: -1px 1px 2px #ff36ab, 1.5px 1px 2px #ff36ab;
}

.landing-gradient-border-button {
  padding: 1.6px;
  position: relative;
  background: linear-gradient(
    270deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(94, 15, 255, 1),
    rgba(25, 5, 218, 1)
  );
  z-index: 1;
  border-radius: 0.25em;
}

.landing-gradient-border-button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(94, 15, 255, 1),
    rgba(25, 5, 218, 1)
  );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 0.25em;
}

.landing-gradient-border-button:hover::before {
  opacity: 1;
}

/* .landing-gradient-border-button {
  padding: 8px 1px 8px 1px;
  position: relative;
  background: linear-gradient(
    270deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(94, 15, 255, 1),
    rgba(25, 5, 218, 1)
  );
}

.landing-gradient-border-button::before {
  position: absolute;
  content: "";
  inset: 0; 
  background: linear-gradient(
    90deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(94, 15, 255, 1),
    rgba(25, 5, 218, 1)
  );
  z-index: -100;
  opacity: 0;
  transition: opacity 0.25s linear;
}

.landing-gradient-border-button:hover::before {
  opacity: 1;
} */

/*NFT Preview*/
.nft-preview-card-border {
  padding: 3px;
  background: linear-gradient(
    120deg,
    rgba(234, 89, 190, 1),
    rgba(234, 89, 190, 0)
  );
}

.live-counter {
  font-size: 2rem;
  font-weight: 700;
  -webkit-text-fill-color: #070f1c;
  -webkit-text-stroke: 2px #ff36ab;
  font-family: "Verdana";
}

.live-counter-shadow {
  text-shadow: 0px 0px 7px #ff36ab;
}

.nft-discord-icon:hover {
  fill: #fb2576;
}

.preview-shadow {
  box-shadow: -4px -4px 15px rgba(86, 86, 86, 0.25),
    4px 4px 15px rgba(86, 86, 86, 0.25);
}

/*Search Bar*/
.search-bar-input {
  border-style: solid !important;
  @apply tw-w-full tw-px-6 tw-py-2 tw-bg-[#25262B] tw-text-white tw-rounded-md tw-border tw-border-[#383A3F] tw-transition-all tw-duration-200 tw-ease-linear placeholder:tw-text-[#909296] focus:tw-outline-none;
}

/*Explore List*/
#explore-list-group .v-list-item:focus::before,
#explore-list-group .v-list-item:hover::before {
  opacity: 0 !important;
}

/*Explore Page*/
#explore-tab .v-tabs-bar,
#explore-tab-items.v-tabs-items {
  background: transparent !important;
}
#explore-tab .v-tabs-slider {
  @apply !tw-bg-wapal-pink;
}

#explore-tab .v-tab:focus::before,
#explore-tab .v-tab:hover::before {
  opacity: 0 !important;
}

/*Dashboard*/
/*Launchpad*/
.dashboard-gradient-button {
  background: linear-gradient(
    264.44deg,
    #fe87ff 2.87%,
    #c202d3 34.05%,
    #48cae4 67.82%,
    #48cae4 99.15%
  ) !important;
  @apply tw-rounded tw-text-sm tw-px-6 tw-py-3 !tw-text-white tw-overflow-hidden tw-relative;
}

/* Create Collection*/

.dashboard-text-field-border {
  padding: 1.6px;
  border-radius: 7px;
}

.dashboard-text-field-group:nth-child(odd) .dashboard-text-field-border {
  background: linear-gradient(
    270deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(72, 202, 228, 1),
    rgba(72, 202, 228, 1)
  );
}

.dashboard-text-field-group:nth-child(even) .dashboard-text-field-border {
  background: linear-gradient(
    270deg,
    rgba(254, 135, 255, 1),
    rgba(194, 2, 211, 1),
    rgba(72, 202, 228, 1),
    rgba(25, 5, 218, 1)
  );
}

.dashboard-input {
  border-radius: 7px !important;
  background: #0e0d0d;
}
.dashboard-input.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 50px !important;
}
.dashboard-input.v-text-field--outlined fieldset {
  border: none !important;
}
.dashboard-input.v-text-field--enclosed .v-input__append-inner {
  margin-top: 15px !important;
}

.dashboard-input.v-text-field--outlined.v-input--is-focused
  .v-input__slot:before {
  border: none !important;
}
.dashboard-input.v-text-field--outlined .v-label {
  top: 15px !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.border-bar {
  border-left: 4px solid #48cae4;
  border-radius: 0;
}

/* Date Picker*/

.mx-input-wrapper,
.mx-datepicker {
  width: 100% !important;
}

.mx-input {
  width: 100% !important;
  background: transparent !important;
  border: none !important;
  height: 50px !important;
  color: #d9d9d9 !important;
  font-size: 1em;
  border-radius: 7px !important;
}

.mx-icon-calendar,
.mx-icon-clear,
.mx-input::placeholder {
  color: #d9d9d9 !important;
}

.mdi-checkbox-blank-outline {
  color: #d9d9d9 !important;
}

/* New Design Input */
.wapal-input {
  border-radius: 7px !important;
  @apply tw-bg-dark-6 tw-border-dark-4 tw-border-solid tw-border;
}
.wapal-input.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 44px !important;
}
.wapal-input.v-text-field--outlined fieldset {
  border: none !important;
}
.wapal-input.v-text-field--enclosed .v-input__append-inner {
  margin-top: 10px !important;
}

.wapal-input.v-text-field--outlined.v-input--is-focused .v-input__slot:before {
  border: none !important;
}
.wapal-input.v-text-field--outlined .v-label {
  top: 15px !important;
}

.wapal-input input,
.wapal-input textarea {
  @apply !tw-text-sm !tw-text-dark-0 placeholder:!tw-text-sm;
}

input:disabled {
  cursor: not-allowed;
}

/*Hide scrollbar in chrome*/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*Switch and Checkbox*/
.v-input--switch__track.primary--text {
  @apply !tw-text-primary-1 !tw-caret-primary-1 !tw-opacity-100;
}

.v-input--selection-controls__ripple.primary--text {
  @apply !tw-text-primary-1 !tw-caret-primary-1;
}

.v-input--switch__thumb.primary--text {
  @apply !tw-text-white !tw-caret-white;
}

.v-input--selection-controls__input .mdi-checkbox-marked {
  @apply !tw-text-primary-1 !tw-caret-primary-1;
}

/*Data table header class*/
.default-data-table-header {
  @apply !tw-text-dark-2 !tw-border-b-dark-6 !tw-text-sm tw-uppercase tw-font-medium tw-pb-8;
}

.default-data-table-header span {
  text-transform: uppercase;
}
