body.v-tour--active {
    pointer-events: none;
}

.v-tour {
    pointer-events: auto;
}

.v-tour__target--highlighted {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .5);
    pointer-events: none;
    border-radius: 6px;
    z-index: 9999;
    transition: 0.3s ease-in-out;
}

.v-tour__target--relative {
    position: relative
}

.v-step[data-v-54f9a632] {
    background: #0C224B;
    color: #fff;
    max-width: 320px;
    border-radius: 6px;
    -webkit-box-shadow: transparent 0 0 0 0, transparent 0 0 0 0, rgba(0, 0, 0, .1) 0 4px 6px -1px, rgba(0, 0, 0, .06) 0 2px 4px -1px;
    box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
    padding: 1rem;
    pointer-events: auto;
    text-align: center;
    z-index: 10000;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.v-step--sticky[data-v-54f9a632] {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.v-step--sticky .v-step__arrow[data-v-54f9a632] {
    display: none
}

.v-step__arrow[data-v-54f9a632], .v-step__arrow[data-v-54f9a632]:before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: inherit;
}

.v-step__arrow[data-v-54f9a632] {
    visibility: hidden
}

.v-step__arrow--dark[data-v-54f9a632]:before {
    background: #0C224B;
}

.v-step__arrow[data-v-54f9a632]:before {
    visibility: visible;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: -5px;
}

.v-step[data-popper-placement^=top]>.v-step__arrow[data-v-54f9a632] {
    bottom: -5px;
}

.v-step[data-popper-placement^=bottom]>.v-step__arrow[data-v-54f9a632] {
    top: -5px
}

.v-step[data-popper-placement^=right]>.v-step__arrow[data-v-54f9a632] {
    left: -5px;
}

.v-step[data-popper-placement^=left]>.v-step__arrow[data-v-54f9a632] {
    right: -5px
}

.v-step__header[data-v-54f9a632] {
    margin: -1rem -1rem .5rem;
    padding: .5rem;
    background-color: #FF36AB;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px
}

.v-step__content[data-v-54f9a632] {
    margin: 0 0 1rem 0
}

.v-step__button[data-v-54f9a632] {
    background: #FF36AB;
    border: .05rem solid #FF36AB;
    border-radius: .1rem;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    height: 1.8rem;
    line-height: 1rem;
    outline: none;
    margin: 0 .2rem;
    padding: .35rem .4rem;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
    white-space: nowrap
}

.v-step__button[data-v-54f9a632]:hover {
    background-color: hsla(0, 0%, 100%, .95);
    color: #FF36AB;
}